* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  background-image: url(./images/back-bg.jpg);
  background-size: cover;
  opacity: 0.8;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* header styling */

.head-bg {
    width: 50%;
    margin-left: 20px;
}

.head-bg h1 {
    margin: 30px 20px;
    padding: 20px 10px;
    font-size: 60px;
    font-weight: 700;
}

/* leaderboard score display styling  */

.lead-container {
    display: flex;
}

.lead-head {
    width: 50%;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
}

.lead-box {
    display: flex;
    margin: 30px 40px;
    width: 70%;
    justify-content: space-between;
    padding: 20px 10px;
}

.lead-box h2 {
    font-size: 32px;
}

.lead-btn {
    font-weight: 500;
    font-style: italic;
    border: 2.5px solid #0f0;
    color: #fff;
    background-color: #1d2b3a;
    padding: 8px 20px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0003);
    transition: 0.5s;
}

.lead-btn:hover {
    color: #1d2b3a;
    transition: 1s;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    box-shadow: 0 0 10px #0f0;
    background: #0f0;
    border: 2px solid #1d2b3a;
}
  
  .lead-items {
    width: 70%;
    height: auto;
    overflow-y: scroll;
    margin: 10px 40px;
    border: 2px solid #0f0;
    border-radius: 12px;
  }
  
  .lead-items::-webkit-scrollbar {
    display: none;
  }
  
  .lead-items li {
    padding: 5px;
  }
  
  .lead-items li:nth-child(even) {
    background: rgba(225, 225, 225, 0.651);
  }

  /* form styling  */

  .lead-score {
    width: 50%;
    margin: 30px 50px 30px 0;
  }

  .lead-score h2 {
    font-size: 32px;
    margin: 30px 40px;
    width: 70%;
    padding: 20px 10px;
  }

  #lead-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  #lead-form input {
    width: 70%;
    margin-bottom: 25px;
    padding: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
  }

  #lead-form input:valid,
  #lead-form input:focus {
    background: #1d2b3a;
    color: #0f0;
    border: 2.5px solid #0f0;
  }

.submit-btn {
    font-weight: 700;
    font-style: italic;
    border: 2.5px solid #0f0;
    color: #fff;
    background-color: #1d2b3a;
    padding: 8px 20px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0003);
    transition: 0.5s;
    width: 22%;
}

.submit-btn:hover {
    color: #1d2b3a;
    transition: 1s;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    box-shadow: 0 0 10px #0f0;
    background: #0f0;
    border: 2px solid #1d2b3a;
}

/* footer styling  */

footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    background-color: #352f44;
    letter-spacing: .2em;
}
