* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(./images/back-img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: scroll;
}

/* header styling */

.head-bg {
  width: 50%;
  margin-left: 20px;
}

.head-bg h1 {
  margin: 30px 20px;
  padding: 20px 10px;
  font-size: 60px;
  font-weight: 700;
}

span {
  color: #fff;
}

/* leaderboard score display styling  */

.lead-container {
  display: flex;
}

.lead-head {
  width: 50%;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
}

.lead-box {
  display: flex;
  margin: 30px 40px;
  width: 70%;
  justify-content: space-between;
  padding: 20px 10px;
}

.lead-box h2 {
  font-size: 32px;
}

.lead-btn {
  font-weight: 500;
  font-style: italic;
  border: 2.5px solid #0f0;
  color: #fff;
  background-color: #1d2b3a;
  padding: 8px 20px;
  -webkit-box-reflect: below 0 linear-gradient(transparent, #0003);
  transition: 2.5s;
}

.lead-btn:hover {
  color: #1d2b3a;
  transition: 1s;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  box-shadow: 0 0 10px #0f0;
  background: #0f0;
  border: 2px solid #1d2b3a;
}

.lead-items {
  width: 70%;
  height: auto;
  overflow-y: scroll;
  margin: 10px 40px;
  border: 2px solid #0f0;
  border-radius: 12px;
  box-shadow:
    0 5px 0 8px rgba(0, 255, 0, 0.5),
    5px 0 8px 0 rgba(0, 255, 0, 0.5);
}

.lead-items::-webkit-scrollbar {
  display: none;
}

.lead-items li {
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}

.lead-items li:nth-child(even) {
  background: rgba(0, 255, 0, 0.4);
}

/* form styling  */

.lead-score {
  width: 50%;
  margin: 30px 50px 30px 0;
}

.lead-score h2 {
  font-size: 32px;
  margin: 30px 40px;
  width: 70%;
  padding: 20px 10px;
}

#lead-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

#lead-form input {
  width: 70%;
  margin-bottom: 25px;
  padding: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  font-style: italic;
  border-radius: 5px;
}

#lead-form input:valid,
#lead-form input:focus {
  background: #1d2b3a;
  color: #0f0;
  border: 2.5px solid #0f0;
}

.submit-btn {
  font-weight: 700;
  font-style: italic;
  border: 2.5px solid #0f0;
  color: #fff;
  background-color: #1d2b3a;
  padding: 8px 20px;
  -webkit-box-reflect: below 0 linear-gradient(transparent, #0003);
  transition: 2.5s;
  width: 22%;
}

.submit-btn:hover {
  color: #1d2b3a;
  transition: 1s;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  box-shadow: 0 0 10px #0f0;
  background: #0f0;
  border: 2px solid #1d2b3a;
}

/* footer styling  */

.footer {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #456c69 40%, #b8f0b3 60%);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .head-bg h1 {
    font-size: 45px;
    display: flex;
    margin-top: 10px;
  }

  .lead-container {
    display: flex;
    flex-wrap: wrap;
  }

  .lead-head {
    width: 100%;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
  }

  .lead-box {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  .lead-items {
    width: 100%;
    margin-left: 0;
  }

  .lead-score {
    width: 90%;
    margin: 20px 5%;
  }

  .lead-score h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  #lead-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  #lead-form input {
    width: 70%;
    padding: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
    margin: 10px 15%;
  }

  .submit-btn {
    font-weight: 700;
    font-style: italic;
    border: 2.5px solid #0f0;
    color: #fff;
    background-color: #1d2b3a;
    padding: 8px 20px;
    -webkit-box-reflect: below 0 linear-gradient(transparent, #0003);
    transition: 2s;
    width: 22%;
    margin-left: 16%;
    margin-top: 10px;
  }

  footer {
    display: none;
  }
}
